
    <!-- Page Content -->
    <td>
    <h1 class="jumbotron hero-spacer"><br><br>
    Your Current Post</h1>

    </td>

    <h2 class ="text-center row ">
    <br></br><br>
    <div class="container">

        <!-- Jumbotron Header -->
        
        <di><br><br>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="product_single">

                        <h1><%=@post.category.category%></h1>

                        
                        <h2>Title: <%=@post.title%></h2>
                        <p>Description: <%=@post.description%></p>
                        
                        <div>
                            <img src="<%=@post.avatar.url(:medium) %>">

                        </div>
                        <span>
                        
                        
                        
                        </span>
                    </div>
                </div>
            </div>
        </div>
                
        <p>

        <%= form_tag "/posts/#{@post.id}", method: :delete do %>

              <input class="btn btn-default" type="submit" value="Destroy Post">

            <% end %>

            <div class="form-group">

           <a class="btn btn-default" href="/posts/<%= @post.id %>/edit" role="button">Edit</a>
           </div>

        







        















