
    <!-- Page Content -->
    <td><br><br>
    <h1 class="jumbotron hero-spacer"><br>
      Post</h1>

    </td>

    <h2 class ="text-center row ">
   
    <div class="container">


        <!-- Jumbotron Header -->
        
        <di>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="product_single">
                        <div class="panel panel-primary">
                            <h1><%=@post.category.category%></h1></div>
                        

                            <div class="panel panel-primary">

                            <h2><a href="posts/#{@post.id}" class="list-group-item">Title: <%=@post.title%></h2></a>
                            
                            <p>Description: <%=@post.description%></p>
                            
                            <div>
                                <img src="<%=@post.avatar.url(:medium) %>">

                            </div><br>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
                
     

        <%= form_tag "/posts/#{@post.id}", method: :delete do %>

              <input class="btn btn-default" type="submit" value="Destroy Post">


            <% end %>

            

           <a class="btn btn-default" href="/posts/<%= @post.id %>/edit" role="button">Edit</a>
          

        



  




        















